[submodule "test-git-submodules-backend"]
	path = test-git-submodules-backend
	url = https://github.com/Vincy-fivestones/test-git-submodules-backend
[submodule "test-git-submodules-frontend"]
	path = test-git-submodules-frontend
	url = https://github.com/Vincy-fivestones/test-git-submodules-frontend
